/*
 * custom style for side navigation
 * winjeysong 20170227
 */


/** being editting**/


/* By default it's not affixed in mobile views, so undo that */


/*.affix-top{
  position: relative;
}
.affix-bottom{
  position: absolute;
}
.bs-docs-sidebar.affix {
  position: static;
  width: 200px;
}*/
@media (max-width: 1024px) {
  .bs-docs-sidebar {
    display: none;
  }
}

#sideNav {
    position: relative;
    left: 40px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all, 0.2s, linear;
    -moz-transition: all, 0.2s, linear;
    transition: all, 0.2s, linear;
}

#sideNav li a {
    -webkit-backface-visibility: hidden;
    -webkit-transition: all, 0.4s, ease-out;
    -moz-transition: all, 0.4s, ease-out;
    transition: all, 0.4s, ease-out;
}


/* All levels of nav */

.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px 4px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #767676;
    /*no wrap*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    padding-left: 30px;
    color: #FFF;
    text-decoration: none;
    background-color: #39F;
    border-radius: 3px;
}

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    padding-left: 18px;
    font-weight: normal;
    color: #FFF;
    background-color: #39F;
    border-radius: 3px;
}


/* Nav 2nd level title */

.bs-docs-sidebar .nav .nav>li {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
}

.bs-docs-sidebar .nav .nav>li>a {
    font-size: 15px;
    font-weight: normal;
}

.bs-docs-sidebar .nav .nav>li>a:hover,
.bs-docs-sidebar .nav .nav>li>a:focus {
    padding-left: 20px;
}

.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    padding-left: 20px;
    font-weight: bold;
    color: #FFF;
}


/* Nav: 3rd level (shown on .active) */

.bs-docs-sidebar .nav .nav .nav>li {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
}

.bs-docs-sidebar .nav .nav .nav>li>a {
    font-size: 14px;
    font-weight: normal;
}

.bs-docs-sidebar .nav .nav .nav>li>a:hover,
.bs-docs-sidebar .nav .nav .nav>li>a:focus {
    padding-left: 20px;
}

.bs-docs-sidebar .nav .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav .nav>.active:focus>a {
    padding-left: 20px;
    font-weight: bold;
    color: #FFF;
}

