--- 
layout: index-page 
description: "宋王杰" 
--- 
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <p style="font-family: 'STSong', serif;font-weight:200;font-size:25px"></p>
      <p style="font-family: 'STSong', serif;font-size:25px;margin-top:-20px">{{site.description}}</p>
    </div>
  </div>
</div>  

{% for post in paginator.posts %}
<div class="post-preview brieftext">
  <p class="post-meta text-right">{% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %} | {{ post.date | date: "%B %-d, %Y" }}</p>
  <a href="{{ post.url | prepend: site.baseurl }}">
    <h2 class="post-title">
      {{ post.title }}
    </h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">
      {{ post.subtitle }}
    </h3>
    {% endif %}
    <div class="post-content-preview">
      {{ post.excerpt |  truncate:150 }}
    </div>
  </a>
  
</div>{% endfor %}


<!-- Pager 前一页与下一页-->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">〈 Newer</a>
  </li>
  {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older 〉</a>
  </li>
  {% endif %}
</ul>
{% endif %}